@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-weight: lighter;
    font-family: 'Montserrat', sans-serif;
}

.text-xl,.text-2xl,.text-3xl{
    font-family: 'Koulen', cursive,sans-serif;
}

.scroll-thin ,.scroll-thin *{
    scrollbar-width: thin;
}

.logo-font{
    font-family: 'Kaushan Script', cursive;
}